<!--&lt;!&ndash;Success and Error Messages&ndash;&gt;-->
<!--<div ng-show="model.success" class="alert alert-success">{{model.success}}</div>-->
<!--<div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>-->

<!--&lt;!&ndash;No Favorites Message&ndash;&gt;-->
<!--<div ng-show="model.favorites.length==0" class="alert alert-success my-2">-->
    <!--You don't have any favorites saved.-->
    <!--<a href="#/home"> Start adding tracks</a>-->
<!--</div>-->

<!--&lt;!&ndash;List of Favorites&ndash;&gt;-->
<!--<div class="row my-4">-->
    <!--<div class="card black mr-4" ng-repeat="track in model.favorites" ng-if="track.mbid!=''">-->
        <!--<a href="#/track/{{track.mbid}}" role="button">-->
        <!--<img class="card-img-top card-img-cus" src="{{track.image}}"-->
             <!--alt="{{track.title}}">-->
        <!--</a>-->
        <!--<div class="card-block">-->
            <!--<h4 class="card-title gray-text">{{track.title}}</h4>-->
            <!--<p class="card-text text-white">{{track.artist.screenName}}</p>-->
            <!--&lt;!&ndash;<a ng-show="{{track.streamable.fulltrack}}" href="{{track.streamable['#text']}}" class="btn btn-primary">Play</a>&ndash;&gt;-->
            <!--<a ng-click="model.unLove(track._id)" class="btn btn-danger" role="button">Unlove</a>-->
            <!--<a href="#/track/{{track.mbid}}" class="btn btn-primary float-right">View</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--Success and Error Messages-->
<div ng-show="model.success" class="alert alert-success">{{model.success}}</div>
<div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

<!--No Favorites Message-->
<div ng-show="model.favorites.length==0" class="alert alert-success my-2">
    You don't have any favorites saved.
    <a href="#/home"> Start adding tracks</a>
</div>

<!--List of Favorites-->
<!--<div class="row my-4">-->
    <div ng-repeat="track in model.favorites" ng-if="track.mbid!=''"
         style="float: left; width: 250px; height: 362px; margin-right: 10px; margin-bottom: 20px; border: thick solid white;
          margin-top: 50px; background-color: black;">
        <a href="#/track/{{track.mbid}}" role="button">
            <img class="img-responsive" src="{{track.image}}"
                 alt="{{track.title}}" style="width: 240px;">
        </a>
        <!--<div class="card-block">-->
            <h4 class="text-center text-white">{{track.title}}</h4>
            <p class="text-center text-white">{{track.artist.screenName}}</p>
            <!--<a ng-show="{{track.streamable.fulltrack}}" href="{{track.streamable['#text']}}" class="btn btn-primary">Play</a>-->
            <a href="#/track/{{track.mbid}}" class="btn btn-primary">View</a>
            <a ng-click="model.unLove(track._id)" class="btn btn-danger float-right" role="button">Unlove</a>

        <!--</div>-->
    </div>
<!--</div>-->