<!--<div class="alert alert-success" role="alert" ng-if="model.artist">-->
    <!--<a href="#/track/new">Add new tracks</a>-->
<!--</div>-->

<!--<img ng-show="model.loading" src="../../images/loading.png"-->
     <!--class="img-fluid col-centered my-4">-->

<!--<div class="row my-4" ng-show="model.tracks.length!=0">-->
    <!--<div class="card black img-fit mr-4 my-2" ng-repeat="track in model.tracks" ng-if="track._id!=''">-->
        <!--<a href="#/track/{{track._id}}">-->
            <!--<img class="card-img-top img-fit"-->
                 <!--src="{{track.image}}"-->
             <!--alt="{{track.title}}">-->
        <!--</a>-->
        <!--<div class="card-block">-->
            <!--<h4 class="card-title gray-text">{{track.title}}</h4>-->
            <!--<p class="card-text text-white">{{track.artist.screenName}}</p>-->
            <!--&lt;!&ndash;<a href="{{track.url}}"-->
               <!--class="btn btn-primary mr-2">Play</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#/track/{{track.mbid?track.mbid:track._id}}" class="btn btn-primary mb-2 float-right">View</a>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="alert alert-success" role="alert" ng-if="model.artist" style="margin-top: 50px;">
    <a href="#/track/new">Add new tracks</a>
</div>

<img ng-show="model.loading" src="../../../project/images/loading.png"
     class="img-fluid col-centered my-4">

<div ng-show="model.tracks.length!=0" style="margin-top: 50px;">
    <div class="card-deck">
        <!--<div class="col-md-3 col-xs-8">-->
            <div class="col-md-3 col-xs-8 card" ng-repeat="track in model.tracks" ng-if="track._id!=''" style="margin-bottom: 50px;">
                <!--<a href="#/track/{{track.mbid}}">-->
                <img class="img-responsive" src="{{track.image}}"
                     alt="{{track.title}}">
                <!--</a>-->
                <div class="card-block">
                    <h4 class="card-title"><a href="#/track/{{track._id}}">{{track.title}}</a></h4>
                    <h5 class="card-title">{{track.artist.screenName}}</h5>
                    <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                </div>
            </div>
        <!--</div>-->
    </div>
    <!--<div ng-repeat="track in model.tracks" ng-if="track._id!=''"-->
         <!--style="float: left; margin-right: 10px; margin-bottom: 20px; border: thick solid white">-->
        <!--<a href="#/track/{{track._id}}">-->
            <!--<img class="img-responsive"-->
                 <!--src="{{track.image}}"-->
                 <!--alt="{{track.title}}">-->
        <!--</a>-->
        <!--&lt;!&ndash;<div class="card-block">&ndash;&gt;-->
            <!--<h4 class="text-center text-white">{{track.title}}</h4>-->
            <!--<p class="text-center text-white">{{track.artist.screenName}}</p>-->
            <!--&lt;!&ndash;<a href="{{track.url}}"-->
               <!--class="btn btn-primary mr-2">Play</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#/track/{{track.mbid?track.mbid:track._id}}" class="btn btn-primary mb-2 float-right">View</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
</div>