<!--<img ng-show="model.loading" src="../../images/loading.png"-->
     <!--class="img-fit col-centered my-4">-->

<!--<div ng-show="model.error" class="alert alert-danger text-center">-->
    <!--{{model.error}}</div>-->

<!--<div class="card-columns my-4" ng-show="model.tracks.length!=0">-->
    <!--<div class="card black" ng-repeat="track in model.tracks" ng-if="track.mbid!=''">-->
        <!--<a href="#/track/{{track.mbid}}">-->
            <!--<img class="card-img-top card-img-cus" src="{{model.getImage(track)}}"-->
             <!--alt="{{track.name}}">-->
        <!--</a>-->
        <!--<div class="card-block">-->
            <!--<h4 class="card-title gray-text">{{track.name}}</h4>-->
            <!--<p class="card-text text-white">{{track.artist.name? track.artist.name: track.artist}}</p>-->
            <!--<a ng-show="{{track.streamable.fulltrack}}" href="{{track.streamable['#text']}}" class="btn btn-primary">Play</a>-->
            <!--&lt;!&ndash;<a ng-hide="{{track.streamable.fulltrack}}" href="{{track.url}}" target="_blank" class="btn btn-primary">Get</a>&ndash;&gt;-->
            <!--<a href="#/track/{{track.mbid}}" class="btn btn-primary mb-2 float-right">View</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<img ng-show="model.loading" src="../../images/loading.png"-->
     <!--class="img-fit col-centered my-4">-->

<!--<br><br>-->

<!--<div ng-show="model.error" class="alert alert-danger text-center">-->
    <!--{{model.error}}</div>-->

<!--<div class="row">-->
    <!--<div ng-show="model.tracks.length!=0">-->
        <!--<div ng-repeat="track in model.tracks" ng-if="track.mbid!=''">-->
            <!--<div class="col-sm-6 col-md-4">-->
                <!--<div class="thumbnail">-->
                    <!--<a href="#/track/{{track.mbid}}">-->
                        <!--<img class="thumbnail-image img-responsive"-->
                             <!--src="{{model.getImage(track)}}"-->
                             <!--alt="{{track.name}}" style="width: 240px;">-->
                    <!--</a>-->

                    <!--<h4 class="text-center text-white">{{track.name}}</h4>-->
                    <!--<p class=" text-center text-white">-->
                        <!--{{track.artist.name? track.artist.name: track.artist}}-->
                    <!--</p>-->
                    <!--<a ng-show="{{track.streamable.fulltrack}}"-->
                       <!--href="{{track.streamable['#text']}}"-->
                       <!--class="btn btn-primary">-->
                        <!--Play-->
                    <!--</a>-->
                    <!--<a href="#/track/{{track.mbid}}"-->
                       <!--class="btn btn-primary btn-block">-->
                        <!--Details-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div class="card-block">&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<img ng-show="model.loading" src="../../../project/images/loading.png"
     class="img-fit col-centered my-4">

<br><br>

<div ng-show="model.error" class="alert alert-danger text-center">
    {{model.error}}</div>

<div ng-show="model.tracks.length!=0">
    <div class="card-deck">
        <div class="card" ng-repeat="track in model.tracks" ng-if="track.mbid!=''" style="margin-bottom: 50px;">
            <!--<a href="#/track/{{track.mbid}}">-->
            <img class="card-img-top" src="{{model.getImage(track)}}"
                 alt="{{track.name}}">
            <!--</a>-->
            <div class="card-block">
                <h4 class="card-title"><a href="#/track/{{track.mbid}}">{{track.name}}</a></h4>
                <h5 class="card-title">{{track.artist.name? track.artist.name: track.artist}}</h5>
            </div>
            <a href="#/track/{{track.mbid}}" class="btn btn-primary btn-block">Details</a>
        </div>
    </div>
</div>



<!--<img ng-show="model.loading" src="../../images/loading.png"-->
     <!--class="img-fit col-centered my-4">-->

<!--<br><br>-->

<!--<div ng-show="model.error" class="alert alert-danger text-center">-->
    <!--{{model.error}}</div>-->

<!--<div ng-show="model.tracks.length!=0">-->
    <!--<div ng-repeat="track in model.tracks" ng-if="track.mbid!=''"-->
         <!--style="float: left; width: 250px; height: 362px; margin-right: 10px; margin-bottom: 20px; border: thick solid white; background-color: black;">-->
        <!--<a href="#/track/{{track.mbid}}">-->
            <!--<img class="img-responsive" src="{{model.getImage(track)}}"-->
                 <!--alt="{{track.name}}" style="width: 240px;">-->
        <!--</a>-->
        <!--&lt;!&ndash;<div class="card-block">&ndash;&gt;-->
        <!--<h4 class="text-center text-white">{{track.name}}</h4>-->
        <!--<p class=" text-center text-white">{{track.artist.name? track.artist.name: track.artist}}</p>-->
        <!--<a ng-show="{{track.streamable.fulltrack}}" href="{{track.streamable['#text']}}" class="btn btn-primary">Play</a>-->
        <!--<a href="#/track/{{track.mbid}}" class="btn btn-primary btn-block">Details</a>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->