<div class="my-4 col-lg-8 mx-auto">

    <div ng-show="model.success" class="alert alert-success">{{model.success}}</div>
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

    <img ng-show="!model.track._id" src="../../../project/images/loading.png" class="img-fit">

    <div class="col-xs-8" style="background-color: white;">
        <div class="card" style="height: 400px;">
        <img class="card-img-top img-responsive"
             style="height: 100%;"
             src="{{model.getImage(model.track)}}"
             alt="{{model.track.name}}">
        </div>
        <span class="badge badge-pill badge-default top-margin left-margin" ng-show="model.track.wiki">Published: {{model.track.wiki.published | date:'MMM dd, yyyy h:mm a'}}</span>

        <h4 class="card-title top-margin left-margin" style="margin-bottom: 20px;">
            {{model.track.name}}
            <a ng-click="model.toggleLove()" role="button">
                <span class="fa like ml-4" ng-class="model.love?'fa-thumbs-up':'fa-thumbs-o-up'"></span>
            </a>
            {{model.track.loves.length}}
            <a href="#/share/{{model.track._id}}" role="button">
            <span class="fa fa-share-square-o ml-2"></span>
                <!--Share-->
            </a>
        </h4>
        <div class="top-margin left-margin right-margin" style="border-top: thin solid gray;">
            <h5 style="margin-top: 40px;">Summary</h5>
            <h6 class="card-text text-justify" ng-bind-html="model.doYouTrustHTML(model.track.wiki.summary)"></h6>
        </div>

        <div class="top-margin left-margin right-margin" style="border-top: thin solid gray;">
            <div ng-show="model.track.tags.length!=0" style="margin-top: 20px;">
                Tags:
                <span ng-repeat="tag in model.track.tags"
                      class="badge badge-default mr-2">
                    {{tag}}
                </span>
            </div>
            <h6 style="margin-top: 10px;">Listeners: {{model.track.listenersCount | number}}</h6>
            <h6>PlayCount: {{model.track.playCount | number}}</h6>

        </div>
        <div class="top-margin left-margin right-margin" style="border-top: thin solid gray; margin-bottom: 30px">
            <h5 style="margin-top: 40px;">Comments</h5>
            <div>
                <textarea type="text"
                       ng-model="model.comment"
                       class="form-control"
                       id="newComment"
                          placeholder="Add Comment"></textarea>
                <div ng-click="model.addComment()" role="button">
                    <button class="btn btn-success" style="margin-top: 5px;">Post Comment</button> </div>
            </div>
            <!--<div class="card">-->
            <div class="top-margin left-margin right-margin">
                <blockquote class="blockquote comment-font" ng-repeat="comment in model.track.comments | orderBy: dateCreated:true"
                            style="margin-bottom: 20px;">
                    <p><strong>{{comment.user.firstName}}</strong>
                        <small class="text-muted"> {{comment.dateCreated | date:'MMM dd, yyyy h:mm a'}}</small>
                        <!--<span class="fa fa-remove float-right"></span>-->
                        <br>
                        <small>{{comment.comment}}</small>
                    </p>
                </blockquote>
            </div>
        </div>

    </div>
</div>