<div class="container-fluid" ng-controller="widgetEditController">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   class="form-control"
                   placeholder="facebook"
                   value="top heading"
                   id="name"/>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text"
                   class="form-control"
                   placeholder="facebook"
                   value="US Senate Reaches Compromise"
                   id="text"/>
        </div>
        <div class="form-group">
            <label for="text">URL</label>
            <input ng-model="model.widget.url" class="form-control"
                   placeholder="https://www.youtube.com/watch?v=BJXl0kO0YC0"
                   value="https://www.youtube.com/watch?v=BJXl0kO0YC0"
                   id="youtube-url"/>
        </div>
        <div class="form-group">
            <label for="text">Width</label>
            <input ng-model="model.widget.width"
                   class="form-control"
                   placeholder="100%"
                   value="100%"
                   id="youtube-width"/>
        </div>
    </form>
    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>
</div>
